* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html, body {
    height: 100%;
    width: 100%;
}

.debug {
    background-color: lightgrey;
    border: 1px dotted red;
}

.card-section {
    width: 80%;
    gap: 20px;
    aspect-ratio: 2 / 1;
}

.card-container {
    height: 100%;
    width: 100%;
    background-image: linear-gradient(135deg, darkgrey, white);
}

.grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    align-content: center;
    align-items: center;
    justify-content: center;
    justify-items: center;
}

.flex {
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
}

.shadow {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.round-edge {
    border-radius: 25px;
}

/* || MEDIA QUERIES */

/* tablets */
@media screen and (max-width: 768px) {
    .card-section {
        aspect-ratio: 1 / 1.5;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        position: absolute;
        top: 0;
        padding: 5% 0;
    }
}

/* phones */
@media screen and (max-width: 375px) {
    .card-section {
        aspect-ratio: 1 / 4;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr 1fr;
    }
}
