* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html, body {
    height: 100%;
    width: 100%;
}

.debug {
    background-color: lightgrey;
    border: 1px dotted red;
}

.card-section {
    position: absolute;
    top: 0;
    padding: 20px 0;
    height: 100vh;
    width: 100vw;
    gap: 20px;
}

.card-container {
    height: 320px;
    width: 200px;
    background-image: linear-gradient(135deg, darkgrey, white);
}

.grid {
    display: grid;
    grid-template-columns: auto auto auto;
    grid-template-rows: auto;
    align-content: center;
    align-items: center;
    justify-content: center;
    justify-items: center;
}

.flex {
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
}

.shadow {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.round-edge {
    border-radius: 25px;
}

/* || MEDIA QUERIES */

/* tablets */
@media screen and (max-width: 768px) {
    .grid {
        grid-template-columns: auto auto;
        grid-template-rows: auto auto;
    }
}

/* phones */
@media screen and (max-width: 375px) {
    .grid {
        grid-template-columns: auto;
        grid-template-rows: auto auto auto;
        align-content: flex-start;
        height: unset;
    }
}
